.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura completa de la ventana */
  padding: 16px; /* Espaciado para móviles */
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 400px; /* Tamaño máximo para escritorio */
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-button {
        width: 100%;
      }
